.headerContainer {
  padding: 20px;
  box-shadow: 4px 4px 4px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  width: 30px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.navBar a {
  text-decoration: none;
  color: teal;
  padding: 8px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.navBar a:hover {
  color: rgb(11, 104, 104);
  font-weight: bold;
}

.text {
  background-color: transparent;
}

.active {
  color: rgb(11, 104, 104);
  font-weight: bold;
}
.badge {
  font-size: 10px;
  color: white;
  background-color: orange;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: -4px;
}
